@charset "utf-8";

/* ------------------- reset ----------------------- */ 


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
}

img {
	border:0;
}

body {
	line-height:1;
}



/* ------------------- general styles ----------------------- */ 


* {
	position:relative;
}


a {
	text-decoration:none;
	color:#4d4d4d;
	
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}

a:hover, a:active {
	text-decoration:underline;
}

html {
    font-family: 'geomanist';
	font-weight:normal;
	font-size:medium;
	color:#4d4d4d;
}

html, body {
	height:100%;
	min-width:280px;
}

.hidden {
	display:none;
	width:0;
	height:0;
	overflow:hidden;
}

input, textarea, select, button {
    font-family: 'geomanist' !important;
}

.fullscreen {
	height:100vh;
	min-height:100vh;
}
table {
    width: 100%;
    text-align: center;
}
th {
    text-align: center !important;
}


th img {
    width: 40px;
    
}

td img {
    width: 40px;
}



/* ------------------- sisu wrapperid ----------------------- */



.wrap {
	width:100%;
	min-height:100%;
    height:auto !important;
    height:100%;
    margin:0 auto;
	overflow:hidden;
	font-size:0.45em;
	font-weight:300;
	color:#4c4c4c;
}

.header-area {
	color:#fff;
}

.headerimg,
#headerimgs {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	height:100%;
	background-position:top left;
	background-size:cover;
}

#headerimgs:before {
	content:'';
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	height:100%;
	right:0;
	width:100% !important;
	background-color:transparent;
	background-image:url("../img/slide-sha.png");
	background-position:right top;
	background-repeat:repeat-y;
	background-size:cover;
	z-index:1;
}
#headerimgs:after {
	content:'';
	display:block;
	position:absolute;
	top:20px;
	bottom:20px;
	right:20px;
	left:20px;
	border:3px solid rgb(253, 154, 87);
	background-color:transparent;
	z-index:1;
}
#headertxt {
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 50%;
    z-index: 1;
    font-size: 3.5em;
}
#headertxt * {
    display: block;
    /*text-transform: uppercase;*/
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1;
    padding: 0 7%;
}
#headertxt #firstline {
    margin-bottom: 15%;
    margin-top: 0.5em;
}

#headertxt #secondline {
	font-weight:600;
	font-size:0.35em;
	border-color:transparent;

	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

	/* IE 5-7 */
	filter: alpha(opacity=50);

	/* Netscape */
	-moz-opacity: 0.5;

	/* Safari 1.x */
	-khtml-opacity: 0.5;

	/* Good browsers */
	opacity: 1;
}

/*
.red-header {
	content:'';
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	height:100%;
	right:0;
	width:30%;
	background-color:rgba(0, 0, 0, 0.85);
	z-index:1;
	padding-top:23px;
	padding-right:23px;
}*/
.page-intro {
    padding: 4em 15% 0;
}
.logo {
    width: 20%;
    position: absolute;
    top: 30px;
    left: 30px;
    padding: 1%;
	z-index:2;
}
.logo img {
    width: 100%;
    height: auto;
}

.rollivalik {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translateX(-50%) translateY(-50%);
	z-index:2;
}

/* FRONT PAGE 2ND SECTION */

.second-section {
	background-color:#fff;
	z-index:1;
}

.ss-left {
	width:70%;
	float:left;
}
.ss-right {
	width:30%;
	float:left;
	padding:20px 20px 20px 0;
}
.ss-left .row {
    margin-right: 0;
}


.page-intro-txt {
    padding: 10% 7% !important;
}
.page-intro-txt h2 {
    color: #999;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.2em;
    font-size: 1.7em;
    line-height: 1.2;
    margin: 0 0 1.4em;
}
.page-intro-txt p {
	line-height:1.6;
}

.map-link {
    color: #999;
    font-weight: 600;
    font-size: 1;
    display: block;
    margin-top: 15%;
}
.map-link:hover,
.map-link:focus {
    color: #4d4d4d;
	text-decoration:none;
	outline:none;
}
.map-link span {
    font-size: 2em;
    vertical-align: middle;
    margin: -10px 5px 0 0;
}
.front-page-images {
    position: absolute !important;
    top: 120%;
	right:0;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.front-page-images img {
    max-width: 100%;
    width: auto;
    height: auto;
    margin-bottom: -19%;
}


.half-sq {
	float:left;
	width:50%;
	color:#fff;
}
.square-div {
	width:100%;
	height:0;
	padding-bottom:100%;
	background-position:center center;
	background-size:cover;
}
.square-div.sd-link {
    background-color: #e9e9e9;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}
.square-div.sd-link:hover {
    background-color: #4d4d4d;
}
.sdl-txt {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1;
    padding: 8% 10%;
}
.sdl-txt .sdl-nr {
    font-size: 4em;
    font-weight: bold;
}
.sdl-txt h3 {
    font-size: 1.5em;
	font-weight:300;
	margin:0;
}
.table-head {
    text-align: center !important;
    height: 50px;
    border-bottom: 3px solid #FF3300;
    font-weight: 500;
}
.posts {
    border-bottom: 1px solid #FF3300;
    height: 100px;
}

/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #fefefe;
    
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #fefefe;
    
}
.modal-table-row {
    height: 70px;
    
}


/* FRONT PAGE 3RD SECTION */

.third-section {
	padding:20px;
	background-image:url("../img/sec-bg.jpg");
	background-position:center center;
	background-size:cover;
}

.ts-content {
    background-color: #fff;
    padding: 25% 8% 8%;
}
.ts-content .page-intro-txt {
	padding:0 9% 0 0 !important;
}

.viimistlus-links .half-sq {
    background-color: #edecec;
}

.viim-title * {
    margin: 0;
}
.lonely-sq .half-sq {
    margin-left: 10%;
}
.sq-bot-right.abs-link {
    position: absolute;
    bottom: 0;
    right: 0;
    left: auto;
    top: auto;
    width: 80%;
    height: auto;
	color:#918a86;
}
.sq-top-right.abs-link {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    bottom: auto;
    width: 80%;
    height: auto;
	color:#e3d3bc;
}
.sq-top-left.abs-link {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    width: 80%;
    height: auto;
	text-align:right;
	color:#d2d2c5;
}
.half-sq.up-viim {
    margin-top: -25%;
}
.viim-title h2 {
    margin: 0.3em 0;
    font-size: 1.6em;
}
.viim-div {
	top:0;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}
.viim-div:hover {
	background-color:#fafafa;
}


/* ------------------- muud stiilid ----------------------- */




.ws-btn {


	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}

.ws-btn:hover {
	text-decoration:none;
}

.abs-link {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	height:100%;
	z-index:1;
}
.abs-link:hover,
.abs-link:focus {
	outline:none;
	text-decoration:none;
}


/* ------------------- clearfix ----------------------- */


.clearfix:before,
.clearfix:after {
    content:" ";
    display:table;
}

.clearfix:after {
    clear:both;
}

.clearfix {
    *zoom:1;
}


/*-------*/


.clear {
	clear:both;
	width:100%;
	display:block;
}




/* ------------------- footer ----------------------- */


.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    font-size: 18px;
    padding: 6% 5% 0;
}


.foot-logod {
    position: absolute !important;
    top: 50%;
	right:0;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.foot-logod img {
	display:block;
	margin:1.5em 0;
	max-width:100%;
	width:auto;
	height:auto;
}
.foot-sec-txt {
    padding: 12px 6% !important;
}
.foot-sec-title {
    padding: 0 6% !important;
}
.foot-sec-title * {
    margin: 0;
    text-align: right;
    text-transform: uppercase;
    font-weight: 600;
}
.upper-footer > .row > .col-md-4::after {
    content: '';
    display: block;
    width: 1px;
    background-color: #ebebeb;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
}

.bot-footer {
	height:80px;
}

/* ------------------- weblogo footeris ----------------------- */



.weblogo {
    position: absolute;
    right: 0;
    bottom: 50%;
	margin-bottom:-12px;
	width:24px;
	height:24px;
	text-align:right;
}

.weblogo a {
	display:inline-block;
	width:24px;
	height:24px;
	background:url(../img/weblogo.png) center no-repeat;
}

.weblogo a:hover {
	opacity:1;
	
transform:rotate(-360deg);
-ms-transform:rotate(-360deg); /* IE 9 */
-webkit-transform:rotate(-360deg); /* Opera, Chrome, and Safari */
}

@media screen and (max-width:767px) {
	
.weblogo {
    right: 50%;
	margin-right:-12px;
    bottom: 10px;
	margin-bottom:0;
}
	
} 




/* ------------------- other styles ----------------------- */



.error_1_frame {
	border: 1px solid #ACF01F;
	padding: 10px;
	vertical-align: middle;
}
.error_2_frame {
	border: 1px solid #FF3300;
	padding: 10px;
	vertical-align: middle;
}
.error_3_frame {
	border: 1px solid #FFCC00;
	padding: 10px;
	vertical-align: middle;
}
.error_4_frame {
	border: 1px solid #FF3300;
	padding: 10px;
	vertical-align: middle;
}
.error_5_frame {
	border: 1px solid #4876FF;
	padding: 10px;
	vertical-align: middle;
}

.pageingLinks{
	text-align: center;
	height: 22px;
	line-height: 22px;
}
.pageingLinks .nr{
	border: 1px solid #ccc;
	padding: 3px 5px;
}
.pageingLinks .nr:hover{
	background-color: #f5f5f5;
}
.pageingLinks .act{
	border: 1px solid #ccc;
	background-color: #f5f5f5;
}
.pageingLinks .act:hover{
	background-color: #f5f5f5;
}
.pageingLinks a{
	text-decoration: none;
}
.pageingLinks a:hover{
	text-decoration: none;
}

.image_album_border {
	border: 1px solid #D9D9D9;
	padding: 10px;
	text-align: center;
	line-height: normal;
}
.image_album_border:hover {
	border: 1px solid #aeaeae;
}

/* SISULEHT */


.content-page .header-area.fullscreen {
    height: auto !important;
    min-height: 140px !important;
	overflow:hidden;
}
.page-title {
    padding: 12% 40px 6%;
    text-align: right;
    z-index: 3;
    font-size: 1.2em;
}
.page-title * {
	margin:0;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1;
    padding: 0 4%;
    border-left: 10px solid rgb(253, 154, 87);
}
.content-page #headerimgs:after {
    height: 120%;
}
.content-page #headerimgs:before {
    background-image: none;
    background-color: #000;
    left: 0;
    right: 0;
    width: 75%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
}
.content-page .red-header {
    width: 25%;
}

.content-wrapper {
    padding: 0 6% 4%;
}
.sisuala {
	padding-top:4%;
	float:left;
	width:100%;
}

.sisuala ol,
.sisuala ul,
.sisuala p {
	margin:1.2em 0;
	line-height:1.5;
}

.sisuala h6,
.sisuala h5,
.sisuala h4,
.sisuala h3,
.sisuala h2,
.sisuala h1 {
	color:#1d1d1d;
	margin:0 0 1.2em;
	padding-top:1.2em;
}

.content-w-side .sisuala {
    width: 78.5%;
	border-right:1px solid #e8e8e8;
    padding: 4% 4.5% 0 0;
}
.content-w-side .sisuala-alamenu {
    width: 23%;
    float: left;
    padding: 4% 0 0 4.5%;
	z-index:1;
}

.sisuala-alamenu ul {
	display:block;
	margin:0;
	padding:20px 0;
	position: absolute;
}
.sisuala-alamenu ul li {
	display:block;
	list-style:none;
}
.sisuala-alamenu ul li a {
    display: block;
    color: #d0d0d0;
    font-weight: 600;
    font-size: 1em;
    padding: 0.4em 0;
}
.sisuala-alamenu ul li a img {
	display:none;
}
.sisuala-alamenu ul li.active a img {
    display: block;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 126.5%;
}
.sisuala-alamenu ul li a:focus,
.sisuala-alamenu ul li a:hover,
.sisuala-alamenu ul li.active a {
    color: rgba(0, 0, 0, 0.84);
	text-decoration:none;
	outline:none;
}

.content-page .footer {
 	background-image:url("../img/sisuala-sha.png");
	background-position:top center; 
	background-size:unset;
	background-repeat:no-repeat;
}

/* --- Login form --- */


.form {
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
    z-index: 5;
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
    background-color: #4d4d4d;
}
.tab-group:after {
    content: "";
    display: table;
    clear: both;
      background-color: #000;
  }

li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    color: #fff;
    font-size: 20px;
    float: left;
    /*width: 50%;*/
    text-align: center;
    cursor: pointer;
    transition: .5s ease;
      
    }


.tab-content > div:last-child {
  display: none;
}


label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: #fff;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 15px;
  letter-spacing: 1px;
}
  .req {
    margin: 2px;
    color: #fff;
  }


label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
.req {
    opacity: 0;
  }


label.highlight {
  color: #fff;
}

select,
option {
    height: 35px;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    margin: auto;
}

textarea {
  font-size: 15px;
  display: table;
  width: 350px;
  height: 100%;
  padding: 5px 10px;
  margin: auto;
  background: none;
  border: 1px solid #a3a3a3;
  color: #fff;
  border-radius: 4px;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input {
  font-size: 15px;
  display: table-row;
  width: 180px;
  height: 35px;
  padding: 5px 10px;
  margin: auto;
  background: none;
  border: 1px solid #a3a3a3;
  color: #fff;
  border-radius: 4px;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input,
textarea:focus {
    outline: 0;
    border-color: #a3a3a3;
  }


textarea {
  border: 1px solid #a3a3a3;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row, .top-row:after {
    content: "";
    clear: both;
  }



.button {
  border-width: medium !important;
  border-color: white !important;
  padding: 10px 15px;
  font-size: 50px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #fff;
  -webkit-appearance: none;
    background-color: rgba(0, 0, 0, 0);
}
/*
  .button:hover,
  .button:focus {
    background: #000000;
  }*/
.button:hover,
.button:focus {
    text-decoration: none;
    color: white;
    border: 2px solid white;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}
.reg-soit-btn {
    width: 160px;
    border: 1px solid #a3a3a3;
    margin: 10px 5px;
}
.reg-soit-btn:hover {
    background-color: #e6e6e6;
}

/* --- Signup form --- */


/* ---- Row with equal height columns ---- */


.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}


/* MEDIA */

@media screen and (max-width:1300px) {
	
.footer {
    font-size: 14px;
    padding: 4% 20px 0;
}
	
}

@media screen and (max-width:1100px) {
	
.wrap {
    font-size: 0.55em;
}
#headertxt {
	width:70%;
}
#headertxt #firstline {
    margin-bottom: 50px;
}
#headertxt #secondline {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}
.logo {
    width: 24%;
}
.red-header {
    width: 40%;
}
#headerimgs::before {
	right:40%;
}
.content-page .page-title {
    padding: 14% 40px 4%;
}
	
}

@media screen and (max-width:992px) {
	
.wrap {
    font-size: 0.67em;
}
#headertxt {
	width:90%;
}
.front-page-images {
    display: none;
}
.ss-left,
.ss-right {
	width:100%;
}
.ss-right {
    padding: 20px;
}
.map-link {
    margin-top: 3em;
}
.ss-right .half-sq {
    width: 33.33%;
	border:2px solid #fff;
}
.half-sq.empty-sq {
	display:none;
}
.ts-content {
    background-color: #fff;
    padding: 8%;
}
.ts-content .page-intro-txt {
    padding: 0 0 10% 0 !important;
}
.map-link {
    text-align: center;
    background-color: #ededed;
    padding: 4%;
    font-size: 1.2em;
    margin-top: 6%;
}
.map-link:hover,
.map-link:focus {
    background-color: #4d4d4d;
    color: #fff;
}
.page-intro-txt {
    padding: 10% 35px 4% !important;
}
.ss-left .row {
	margin-right:-15px !important;
}
.foot-logod {
	display:none;
}

.square-div.sd-link {
    background-color: #cccccc;
}

}

@media screen and (max-width:767px) {
	
.red-header {
    width: 100%;
    height: auto;
    bottom: auto;
    padding: 80px 20px 20px;
}
.content-page .red-header {
    width: 100%;
    height: 110px;
}
.logo {
    width: 180px;
    height: 72px;
}
.logo img {
	max-height:100%;
	height:auto;
}
#headerimgs::before {
	display:none;
}
.content-page #headerimgs::before {
    display: block;
    top: 110px;
    width: 100%;
}
.page-intro {
    padding: 30px 23px 0 !important;
}
.wrap {
    font-size: 0.95em;
}
#headertxt {
    font-size: 35px !important;
    width: auto;
    left: 40px;
}
.upper-footer .row-eq-height {
  display:	block !important;
}
.upper-footer .col-md-4{
	padding-top:15px;
}
.content-page .page-title {
    padding: 150px 40px 35px;
    text-align: left;
}
.content-wrapper {
    padding: 0 20px 6%;
}
.content-w-side .sisuala {
    width: 70%;
    padding: 4% 30px 0 0;
}	

.content-w-side .sisuala-alamenu {
    width: 30%;
    padding: 4% 0 0 30px;
}
.sisuala-alamenu ul li.active a img {
    left: -49px;
}

}

@media screen and (max-width:500px) {
	
.wrap {
    font-size: 1.2em;
}
.sdl-txt {
    font-size: 0.7em;
}
.viimistlus-links .half-sq {
    width: 100%;
}
.lonely-sq .half-sq {
    margin-left: 0;
}
.half-sq.up-viim {
    margin-top: 0;
}
.viimistlus-links {
    padding: 0;
    float: none !important;
    width: auto !important;
    margin: 0 -20px !important;
}
.ts-content {
	padding:8% 20px 0;
}

.sq-top-left.abs-link,
.sq-top-right.abs-link,
.sq-bot-right.abs-link {
    position: relative;
	bottom:0;
	right:0;
	width:100%;
	text-align:center;
	padding:15px;
	border-bottom:5px solid #fff;
}
.viim-title .square-div {
    display: none;
}
.viim-div .square-div {
    height: auto;
    padding: 0;
}
.page-intro {
    display: none;
}
.red-header {
    width: 100%;
    height: auto;
    bottom: auto;
    padding: 52px 0;
}
.ts-content .page-intro-txt {
    padding: 0 15px 10% 15px !important;
}
.content-w-side .sisuala-alamenu,
.content-w-side .sisuala {
    width: 100%;
	padding:20px;
}
.content-w-side .sisuala-alamenu {
	padding-bottom:0;
}
.sisuala-alamenu ul {	
	margin:0 -0.6em;
	padding-bottom:0;
}
.sisuala-alamenu ul li {
    float: left;
    padding: 0 0.6em;
}
.sisuala-alamenu ul li a img {
	display:none !important;
}
	
}

@media screen and (max-width:370px) {
	
.wrap {
    font-size: 1.6em;
}
.map-link {
    padding: 9% 4%;
}
#headertxt {
    font-size: 25px !important;
}
.third-section {
    padding: 5px;
}
.ts-content {
    padding: 8% 30px;
}
.sdl-txt .sdl-nr {
    font-size: 2.5em;
}
	
}



@media screen and (max-height:650px) {
	
#headertxt {
    font-size: 3em;
}
.page-intro {
    padding: 30px 40px 0;
}
	
}


@media screen and (max-height:550px) {
	
.fullscreen {
	min-height:550px;
	height:550px !important;
}
	
}








/* BIG SCREEN */


